.content {
    margin-top: 40px;
    margin-left: 50px;
}

header {
    margin-bottom: 300px;
}

.btn-secondary {
    width: 30px;
    height: 30px;
    margin-bottom:30px;
}

input {
    display: block;
    margin-right: 10px;
}